<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="/javascripts/messageReceiver.js"></script>
<div>
  <div class="panel panel-default">
    <table class="table table-fixed">
      <thead>
        <tr>
          <th class="col-md-3" style="background-color: #e3f2fd;">Datetime</th>
          <th class="col-md-2" style="background-color: #e3f2fd;">Patient</th>
          <th class="col-md-2" style="background-color: #e3f2fd;">Test</th>
          <th class="col-md-2" style="background-color: #e3f2fd;">Instrument</th>
          <th class="col-md-3" style="background-color: #e3f2fd;">Serial Nº</th>
        </tr>
      </thead>
      <tbody id='update-table'></tbody>
    </table>
  </div>
</div>