<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="/javascripts/messageReceiver.js"></script>
<div>
  <div class="panel panel-default">
    <table class="table table-fixed">
      <thead>
        <tr>
          <th class="col-md-2 table-header" style="background-color: #e3f2fd;">Fecha</th>
          <th class="table-header" style="background-color: #e3f2fd; padding-right: 40px;">Hora</th>
          <th class="col-md-2 table-header" style="background-color: #e3f2fd;">Paciente</th>
          <th class="col-md-2 table-header" style="background-color: #e3f2fd;">Test</th>
          <th class="col-md-2 table-header" style="background-color: #e3f2fd;">Instrumento</th>
          <th class="col-md-3 table-header" style="background-color: #e3f2fd;">Nº de Serie</th>
        </tr>
      </thead>
      <tbody id='update-table'></tbody>
    </table>
  </div>
</div>