<!DOCTYPE html>
<html>

<head>
  <title>cobas&reg; Mov1LAB</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <main class="container-full">
    <!-- Image and text -->
    <nav class="navbar navbar-light">
      <a class="navbar-brand">
        {{#if user}}
        <img src="/images/roche.png" />
        {{/if}}
      </a>
      {{#if user}}
      <img src="/images/headerImage.png" width="130" />
      {{/if}}
      <ul class="navbar-nav">
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/">Logout</a>
        </li>
        {{/if}}
      </ul>
    </nav>
    <div class="row">
      <div class="col-lg-12">
        {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
        {{/if}} {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}} {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{/if}} {{{body}}}
      </div>
    </div>
  </main>
  {{#if user}}
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div><p><b>cobas&reg;</b> Mov1LAB</p></div>
        <img style="padding-left: 130px; padding-top: 15px;" id='status' src="/images/offline.png" width="160px" height="45px"/>
        <div style="padding-left: 130px;" id='masterServerIp'></div>
        <div style="padding-left: 130px;" id='date'></div>
      </div>
    </div>
  </footer>
  {{/if}}
</body>

</html>